.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container div {
  margin: 20px;
}

button {
  width: 100px;
  height: 150px;
  font-size: 20px;
  font-weight: bold;
  background-color: lightgrey;
  border-color: rgb(63, 55, 70);
}

button:hover {
  background-color: moccasin;
}
